'.platform-darwin .workspace':
  'ctrl-shift-cmd-F': 'zen:toggle'
  'cmd-ctrl-z': 'zen:toggle'
'.platform-darwin .workspace .editor:not(.mini)':
  'ctrl-shift-cmd-F': 'zen:toggle'
  'cmd-ctrl-z': 'zen:toggle'

'.platform-linux .workspace':
  'shift-f11': 'zen:toggle'
  'ctrl-shift-Z': 'zen:toggle'
'.platform-linux .workspace .editor:not(.mini)':
  'shift-f11': 'zen:toggle'
  'ctrl-shift-Z': 'zen:toggle'

'.platform-win32 .workspace':
  'shift-f11': 'zen:toggle'
  'ctrl-shift-Z': 'zen:toggle'
'.platform-win32 .workspace .editor:not(.mini)':
  'shift-f11': 'zen:toggle'
  'ctrl-shift-Z': 'zen:toggle'
