@import "ui-variables";
@import "syntax-variables";

[data-zen="true"] {
  atom-pane-container atom-pane .item-views {
    background: @syntax-background-color !important;
  }
  atom-pane-container atom-pane {
    border: none !important;
  }
  atom-text-editor:not(.mini) {
    margin: 0 auto;
    max-width: 100%;
  }
  atom-workspace {
    padding: 0;
    border: none !important;
  }
  atom-workspace atom-panel-container.left:empty {
    padding: 0;
  }

  .tab-bar {
    display: none;
  }
  .status-bar {
    height: 0;
  }

  .wrap-guide {
    visibility: hidden;
  }
  .editor--private {
    .vertical-scrollbar {
      opacity: 0;
      transition: opacity .2s .1s;
    }
    &:hover .vertical-scrollbar {
      opacity: 1;
    }
  }
  

  &[data-zen-word-count="visible"] {
    .status-bar .word-count {
      position: fixed;
      bottom: @component-padding;
      right: @component-padding;
      padding: 0 @component-padding;
      background: @syntax-background-color;
      color: @syntax-text-color;
    }
  }
  &[data-zen-word-count-position="left"] {
    .status-bar .word-count {
      right: auto;
      left: @component-padding;
    }
  }

  &[data-zen-gutter="false"] {
     .gutter {
       display: none;
     } 
  }

  &[data-zen-tabs="multiple"],
  &[data-zen-tabs="single"] {
    .tab-bar {
      display: flex;
      justify-content: center;
    }
  }
  &[data-zen-tabs="single"] {
    .tab-bar {
      .tab {
        display: none;
      }
      .active {
        display: block;
      }
    }
  }
}
