// @import "ui-variables";
@import "syntax-variables";

[zen="true"] {
  atom-workspace,
  atom-pane-container atom-pane {
    background: @syntax-background-color !important;
  }

  atom-text-editor:not(.mini) {
    margin: 0 auto;
  }

  .status-bar,
  .tab-bar {
    display: none;
  }
  .wrap-guide {
    visibility: hidden;
  }

  ::shadow {
    .gutter {
      display: none;
    }
  }
  
  &[zen-tabs="true"] {
    .tab-bar {
      display: flex;
      justify-content: center;
      .tab {
        display: none;
      }
      .active {
        display: block;
        width: 100%;
      }
    }
  }
}
